/* Custom styles for the dashboard */

body {
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    height: 100vh;
    background-color: #000000;
    border-right: 1px solid #dee2e6;
}

.sidebar .nav-link {
    font-size: 1.1rem;
    padding: 15px;
}

.main-content {
    margin-left: 250px;
}

.sentiment-score h1 {
    font-size: 5rem;
    color: #333;
}

.sentiment-legend span {
    margin: 5px;
}

.navbar-brand {
    padding-left: 20px;
}

.navbar-brand img {
    width: 150px;
}

.dropdown .rounded-circle {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
}

/* Adjust search bar width and dropdown position */
.d-flex .input-group {
    max-width: 600px;  /* Adjust the maximum width of the search bar */
}

.d-flex .dropdown {
    max-width: 150px;  /* Set a smaller max-width for the dropdown */
}

.input-group .form-control {
    width: 100%;  /* Make the input element fully utilize the input-group space */
}

.d-flex .input-group button {
    flex-grow: 0;
}
