{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Sentiment Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'BankSense/style.css' %}">
    <style>
        /* Custom adjustments */
        .sidebar {
            height: 100vh;
            background-color: #f8f9fa;
            border-right: 1px solid #dee2e6;
            padding-top: 20px;
        }

        .sidebar .nav-link {
            font-size: 1.1rem;
            padding: 15px;
        }

        .main-content {
            margin-left: 220px;
            padding: 20px;
        }

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .sentiment-score h1 {
            font-size: 5rem;
            color: #333;
        }

        .sentiment-legend span {
            margin-right: 10px;
        }

        .card-insights {
            border: 1px solid #e0e0e0;
            padding: 20px;
            margin-bottom: 20px;
        }

        .card-insights h5 {
            margin-bottom: 15px;
            font-weight: bold;
        }

        .dropdown-avatar {
            display: flex;
            align-items: center;
        }

        .dropdown-avatar img {
            margin-right: 10px;
        }
        .chip {
            display: inline-block;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            color: #1565C0; /* Text color */
            background-color: #E3F2FD; /* Light blue background */
            border-radius: 20px; /* Rounded corners */
            border: 1px solid transparent;
            text-align: center;
            cursor: pointer;
            margin: .2rem;
            transition: background-color 0.3s ease, border-color 0.3s ease;
        }
        .chip:hover {
            background-color: #BBDEFB; /* Slightly darker background on hover */
            border-color: #90CAF9; /* Slight border change on hover */
        }

        .chip:active {
            background-color: #1565C0; /* Darker background when clicked */
            color: white; /* White text when clicked */
        }

        .custom-modal-width {
            max-width: 60%; /* Change this value to adjust the width */
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="text-center my-3">
                <img src="{% static 'BankSense/banksense_logo.png' %}" alt="Website Logo" class="img-fluid" style="max-width: 120px;">
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Customer Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
            </ul>
        </nav>

        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-start align-items-center pt-3 pb-2 mb-3 border-bottom">
                <div style="margin-right: 2rem">
                    <h1 class="h2">Overall Sentiment</h1>
                    <p class="text-muted">Total Reviews: <span id="totalReviews">{{ totalReviews }}</span></p>
                </div>

                <div class="d-flex">
                    <!-- Search bar and dropdown -->
                    <div class="input-group me-1">

                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#browseServicesModal">
                            Browse bank services
                        </button>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                            ALL
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/?bank=CIBC">CIBC</a></li>
                            <li><a class="dropdown-item" href="/?bank=RBC">RBC</a></li>
                            <li><a class="dropdown-item" href="/?bank=Scotiabank">Scotiabank</a></li>
                            <li><a class="dropdown-item" href="/?bank=TD">TD</a></li>
                            <li><a class="dropdown-item" href="/?bank=BMO">BMO</a></li>
                            <li><a class="dropdown-item" href="/?bank=NBC">NBC</a></li>
                        </ul>
                    </div>
                    <!-- User profile -->
                    <div class="dropdown ms-3">
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Charts Section -->
            <div class="row">
                <div class="col-lg-8">
                    <h5>Banking Sentiment Breakdown: Positive, Neutral, and Negative by Service</h5>
                    <canvas id="sentimentChart"></canvas>
                </div>
                <div class="col-lg-4 text-center">
                    <h5>Overall Rating</h5>
                    <div class="sentiment-score">
                        <h1><span id ='sentiment_score'>{{ sentiment_score }}</span></h1>
                        <canvas id="ratingDonutChart" width="150" height="150"></canvas>
                    </div>
                    <p>Total Reviews: <span id="totalReviews2">{{ totalReviews }}</span></p>
                    <div class="sentiment-legend">
                        <span class="badge bg-success" id="positive_percentage">Positive {{positivePercentage }}%</span>
                        <span class="badge bg-warning" id="neutral_percentage">Neutral {{neutralPercentage }}%</span>
                        <span class="badge bg-danger"  id="negative_percentage">Negative{{ neutralPercentage }}%</span>
                    </div>
                </div>
            </div>

            <!-- Insights Section -->
           <!-- <div class="row mt-4">
                <div class="col-lg-6 card-insights">

                    <h5>Positive Insights</h5>
                    <ul>
                        {% if  top_positive_reviews %}
                            <li> {{ top_positive_reviews }}</li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-lg-6 card-insights">
                    <h5>Negative Insights</h5>
                    <ul>
                        <li>{{ top_negative_reviews }}</li>
                    </ul>
                </div>
            </div>-->
         <!-- Insights Section -->
            <div class="row mt-4">
                <div class="col-lg-6 card-insights text-center">
                    <h5>Positive Word Cloud</h5>
                    <img src="data:image/png;base64,{{ positive_wordcloud }}" alt="Positive Word Cloud" class="img-fluid" />
                </div>
                <div class="col-lg-6 card-insights text-center">
                    <h5>Negative Word Cloud</h5>
                    <img src="data:image/png;base64,{{ negative_wordcloud }}" alt="Negative Word Cloud" class="img-fluid" />
                </div>
            </div>


        </main>
    </div>
<!-- Banking Services Modal -->
    <div class="modal fade" id="browseServicesModal" tabindex="-1" aria-labelledby="browseServicesLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable custom-modal-width">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="browseServicesLabel">Browse more banking services</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control mb-3" id="searchInput" placeholder="Search for label">

                    <div id="chipContainer">
                        <!-- chips will be added dynamically -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Chart.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const sentimentData = {{ aggregated_data|safe }};  //  context data
    // Extract topic names and sentiment counts from sentimentData
    const labels = sentimentData.map(item => item.bank);  // topic names as labels
    const positiveData = sentimentData.map(item => item.positive_count);
    const neutralData = sentimentData.map(item => item.neutral_count);
    const negativeData = sentimentData.map(item => item.negative_count);
    console.log(" data ",sentimentData)

   const totalPositives = sentimentData.reduce((acc, curr) => acc + curr.positive_count, 0);
   const totalNeutral = sentimentData.reduce((acc, curr) => acc + curr.neutral_count, 0);
   const totalNegatives = sentimentData.reduce((acc, curr) => acc + curr.negative_count, 0);
   const totalReviews = sentimentData.reduce((accumulator, current) => {
       return accumulator + current.total_reviews;

}, 0);
   const positivePercentage = ((totalPositives / totalReviews) * 100).toFixed(2);
        const neutralPercentage = ((totalNeutral / totalReviews) * 100).toFixed(2);
        const negativePercentage = ((totalNegatives / totalReviews) * 100).toFixed(2);

    var sentimentScore = (
    (positivePercentage * 10) +
    (neutralPercentage * 5) +
    (negativePercentage * 0)
) / 100;
    sentimentScore = sentimentScore.toFixed(1)
   console.log("sentiment score:",sentimentScore)
    document.getElementById('sentiment_score').innerText = sentimentScore;
    console.log("Total Counts:", totalPositives, totalNeutral, totalNegatives); // Debugging line

    document.getElementById('totalReviews').innerText = totalReviews;
    document.getElementById('totalReviews2').innerText = totalReviews;
    document.getElementById('positive_percentage').innerText=positivePercentage
    document.getElementById('neutral_percentage').innerText=neutralPercentage
    document.getElementById('negative_percentage').innerText=negativePercentage
    console.log("Total Reviews:", totalReviews);
    // Bar chart example
    var ctx = document.getElementById('sentimentChart').getContext('2d');
    var sentimentChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels, //[labels[0].p, 'Service 2', 'Service 3', 'Service 4', 'Service 5'],
            datasets: [
                {
                    label: 'Positive',
                    backgroundColor: 'green',
                    data: positiveData//[40, 50, 45, 60, 55]
                },
                {
                    label: 'Neutral',
                    backgroundColor: 'yellow',
                    data: neutralData
                },
                {
                    label: 'Negative',
                    backgroundColor: 'red',
                    data: negativeData
                }
            ]
        },
        options: {
            responsive: true,
            scales: {
                x: { beginAtZero: true },
                y: { beginAtZero: true }
            }
        }
    });

    // Donut chart example
    var donutCtx = document.getElementById('ratingDonutChart').getContext('2d');
    var donutChart = new Chart(donutCtx, {
        type: 'doughnut',
        data: {
            labels: ['Positive', 'Neutral', 'Negative'],
            datasets: [{

                data: [totalPositives, totalNeutral, totalNegatives],
                {#data: [40, 32, 28],#}
                backgroundColor: ['green', 'yellow', 'red']
            }]
        },
        options: {
            responsive: true
        }
    });

        // Example dynamic chip data
        const services = [
            {% for service in service_list %}
                "{{ service }}"{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
        const chipContainer = document.getElementById('chipContainer');
         services.forEach(service => {
            const chip = document.createElement('div');
            chip.className = 'chip';

            // Create the anchor tag
            const link = document.createElement('a');
            link.href = `?service=${encodeURIComponent(service.replace(/\s+/g, '-'))}&bank={{ visuali_data.bank_name }}`;

            link.textContent = service;
            link.style.textDecoration = 'none';
            link.style.color = 'inherit';

            // Append the anchor to the chip div
            chip.appendChild(link);

            // Append the chip to the container
            chipContainer.appendChild(chip);
        });
          const searchInput = document.getElementById('searchInput');
        searchInput.addEventListener('input', function() {
            const filter = searchInput.value.toLowerCase();
            const chips = document.querySelectorAll('.chip');
            chips.forEach(chip => {
                if (chip.textContent.toLowerCase().includes(filter)) {
                    chip.style.display = 'inline-block';
                } else {
                    chip.style.display = 'none';
                }
            });
        });

</script>
</body>
</html>
